#header{
    .daire{
border-radius: 90%;
        font-size: 25px;
        margin-top: 80vh;
        z-index: 10;
        margin-left: -99vh;
    }
    .text1{
        button{
            
            background: transparent;
            margin-top: 20px;
            border: none;
            color: red;
            cursor: pointer;
            
            
        }
        p{
            width: 45vh;
            margin-top: 20px;
        }
        margin-top: 50vh;
        margin-left: -160px;
    }
    .text{
        transform: rotate(-90deg);
        margin-top: 30vh;
        margin-left: 40px;
        i{
            margin-left: 8px;
        }
        span{
            margin-left: 15px;
        }
    }
    color: white;
    background-image: url(../foto/slide6.jpg);
    height: 657px;
    background-size: cover;
    .icon{
        i{
            margin-top: 23px;
        }
    }
    .logo{
        margin-left: 45vh;
        margin-top: 13px;
        h1{
            font-size: 23px;

        }
    }
    .menu{
        .menu2{
            margin-left: 25vh;
            margin-top: 15px;
            li{
                margin-left: 30px;

            }
        }
    }
    .icons{
        margin-left: 85vh;
        margin-top: 15px;

        i{
            margin-left: 20px;
        }
    }
}
#header2{
    
    .text98{
        color: white;
        margin-left: 90vh;
        width: 20vh;
        margin-top: -18vh;
    }
    .text99{
        span{
            color: rgb(165, 62, 62);
            margin-left: 9vh;
        }
        margin-left: 80vh;
        font-size: 55px;
        margin-top: -30vh;
        
    }
    .black{
        margin-left: 85vh;
        margin-top: -70vh;
        h6{
            color: red;
        }
        color: white;
    }
    background: black;
    .img{
margin-top: 99px;
        img{
            border-radius: 50%;

        }
    }
    .text97{
        color: white;
        width: 5vh;
        margin-top: -18vh;
        margin-left: 40px;

    
}
.text96{
    color: white;
    width: 5vh;
    margin-left: 120px;
    margin-top: -17vh;
}
.text95{
    
    i{
        &:hover{
            color: white;
        }
        
    color: red;
        font-size: 10px;
        
    }
    margin-top: -7vh;

    button{
        &:hover{
            color: white;
            
        }
        color: red;
        border: none;
        font-size: 15px;
        margin-left: -55vh;
        background: transparent;
    }
}
}

#header3{
    .buton{
        button{
            &:hover{
                color: white;
                transition: .5s;
            }
            background: transparent;
        color: red;
        border: none;
        }
        margin-left: 65vh;
        margin-top: 40px;
        
    }
    .img7{
        
        .img4{
width: 85%;
        }
        img{
            margin-left: 39px;
        }
        margin-top: 60px;
        margin-left: -15px;
    }
    .img8{
        margin-left: -14px;
        margin-top: -39vh;

        img{
            margin-left: 39px;
        }
    }
    .img9{
        .img5{
            height: 550px;
            width: 85%;
            
        }
        img{
            margin-left: 40px;
        }
    }
    h1{
        color: white;
    }
    background: black;
    .box{
        h2{
            margin-left: 15px;
            margin-top: 8px;
            color: rgb(238, 87, 87);
        }
        margin-left: 65vh;
        margin-top: 10vh;
    }
    .menu9{
        color: white;
        li{
            cursor: pointer;

            margin-left: 35px;
        }
        margin-top: 100px;
        margin-left: 32vh;
    }
}

#header5{
    .plus{
        color: red;

        margin-top: -18vh;
        margin-left: -42vh;
        i{
            
            margin-left: 62vh;
        }
    }
    .button9{
        margin-left: -40vh;
        margin-top: -62vh;
        button{
            margin-left: 53vh;
            color: red;
            background: transparent;
            border: none;
            &:hover{
                color: white;
            }


        }
        
    }
    .ttext{
        color: white;
        margin-left: -45vh;
        margin-top: -73vh;
        h1{
            margin-left: 58vh;
        }
    }
    .box2{
        span{
            margin-left: 45vh;
        }
        color: white;
        margin-left: -35vh;
        margin-top: -79vh;
    }
    background: black;
    
.box1{
    margin-left: -16vh;
    margin-top: 10vh;
    img{
        margin-left: 35px;
    }
}
}

#header6{
    .follow1{
        margin-top: 30px;
        margin-left: 69vh;
        color: white;
        span{
            margin-left: 39px;
        }
    }
    background: black;
    .follow{
        margin-top: 10px;
        img{
        }
    }
}

#header7{
    
    .end7{
        margin-left: 25px;
        margin-top: 13px;
    }
    .end8{
        img{
            margin-top: 15px;
        }
    }
    .end9{
        p{
            margin-top: 15px;
        }
    }
    .end9{
        width: 55vh;
    }
    margin-left: 20vh;
    margin-top: 10vh;
    
}